header {
  box-shadow: 0 0 4px 0 #ccc;
  position: sticky;
  top: 0%;
  z-index: 10;
}
header .childHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0%;
  z-index: 10;
}
header .childHeader .holi-logo {
  font-size: 30px;
  font-weight: 700;
  color: #d63384;
  &:hover {
    font-size: 35px;
  }
}
header .childHeader .holi-navigations ul {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .childHeader .holi-navigations ul li {
  list-style-type: none;
}
header .childHeader .holi-navigations ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: inline-block;
  &:hover {
    color: rgb(250, 170, 232);
  }
}
header .childHeader .holi-navigations ul li input {
  border: none;
  border-radius: 50px;
  background-color: #eee3ed;
  padding: 10px 25px;
  width: 200px;
}
header .childHeader .holi-navigations ul .getstarted a {
  background-color: rgb(0, 162, 216);
  color: white;
  padding: 15px;
  border-radius: 4px;
}
.header-hamburger {
  display: none;
}
.header-cross {
  display: none;
}
.mob-view{
  display: none;
}
// --media-query
@media (max-width: 1199px) {
  .mob-view{
    display: none;
  }
  header .childHeader .holi-navigations ul {
    gap: 23px;
  }
}
@media (max-width: 989px) {
  header .childHeader .holi-navigations ul li input {
    width: 150px;
  }
  .mob-view{
    display: none;
  }
  header .childHeader .holi-logo {
    font-size: 23px;
  }
}
@media (max-width: 759px) {
  .holi-navigations {
    display: none;
  }
  .mob-view {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 5px;
    // padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.9;
    > ul {
      display: flex;
      flex-direction: column;
      padding:2rem;
      align-items: center;
      gap: 20px;
      > li {
        list-style-type: none;
        >a {
          text-decoration: none;
          color: #000;
          font-weight: 500;
          display: inline-block;
            &:hover {
              color: rgb(250, 170, 232);
           }
        }
        >input{
          border: none;
          border-radius: 50px;
          background-color: #eee3ed;
           background-color: rgba(255, 255, 255, 0.8);
          padding: 10px 25px;
          width: 200px;
        }
      }
    }
  }

  .header-hamburger {
    display: block;
  }
}
