* {
  // margin: 0 auto;
  background-color: #fceff1;
  // background-color: transparent;
  // padding: 0;
  box-sizing: border-box;
font-family: "Chewy", cursive;
}
::-webkit-scrollbar { 
  display: none;
}
/* reset properties started */
ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* reset properties Ended */
.wrapper{
  /* width: 1220px; */
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

@media (min-width:1200px){
  .wrapper{
      width: 1170px;
      margin: 0 auto;
  }
}
@media (min-width:992px) and (max-width:1199px){
  .wrapper{
      width: 970px;
      margin: 0 auto;
  }
}
@media (min-width:760px) and (max-width:991px){
  .wrapper{
      width: 750px;
      margin: 0 auto;
  }
}
@media (min-width:600px) and (max-width:759px){
  .wrapper{
      width: 590px;
      margin: 0 auto;
  }
}